name: Lint

on: push

jobs:
  code-lint:
    name: Run linters
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: npm ci

      - run: npm run build --if-present
      - run: npm test

      - name: Lint
        run: npm run lint
